<div class="container">
  <div class="jumbotron">
    <h3>Yeni Yemek</h3>
    <div class="span6 offset3">
      <%= form_for(@food) do |f|%>

        <%= f.label :isim %><br />
        <%= f.text_field :name %><br />

        <%= f.label :fiyat %><br />
        <%= f.text_field :price %><br />

        <%= f.label :restorant_id %><br />
        <%= f.text_field :restaurant_id %><br /> 

        <%= f.submit "Yeni Yemek!", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>      
